.navbar{
    border-bottom: 1px solid black;
}

.vertical-center {
    min-height: 100%;
    min-height: 100vh;

    display: flex;
    align-items: center;
}

.ordered {
    background-color: #FFF1D0;
}

.btn {
    background-color: #06AED5;
    border-color: #06AED5;
    color: white;
}

.btn:active,
.btn.active,
.btn:hover {
    background-color: #069fc2 !important;
    color: white;
}

.arrived {
    background-color: #F5DC61;
}


body {
    padding-top: 70px;
}
